/**
 * Here starts your stylesheet
 */

video {
    display: block;
    margin: auto;

}


video::-webkit-media-controls-fullscreen-button {
    display: none !important;
}

.fullScreenVideo::-webkit-media-controls-fullscreen-button {
    display: block !important;
}
