.home-container{
    .empty-state-lg {
        margin-top: 23px;
        background: #F2F2F2;

        p {
            color: #808080;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
        }
    }
    .sortContainer {
        height: 34px;
        padding-left: 10px;
        font-size: 14px;
        min-width: 180px;
        width: fit-content;
        line-height: 34px;
        display: flex;

        span {
            opacity: 0.6;
            margin-right: 10px;
        }

        select {
            border: none;
            width: -webkit-fill-available;
        }
    }
}