.layout-2-container {
  padding: 0 !important;
  position: relative;
  .topImage-container{
    img{
      width: 100vw;
      height: 100vh;
    }
  }
  .mainImage-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 0.5rem 0.5rem 0.5rem 0rem;
    top: 12.0625em;
    width: 100%;
    img {
      width: 21.5em;
      height: 12.0625em;
    }
  }
}
