.layout-10-container {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  word-break: break-word;

  .mdc-layout-grid__inner {
    #topImage-container {

      img {
        width: 21.5rem;
        height: 12.125rem;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 1;
        display: block;
        margin: auto;
      }

      padding-top: 1.063rem;
      padding-bottom: 5.063rem;
    }

    .info-container {
      position: relative;
      min-height: 100%;
      width: 100%;

      .frontInfo {
        margin-left:0.5rem;
        margin-right:0.5rem;
        position: absolute;
        top: -4.375rem;
        left: 0;
        right: 0;
        bottom: 0;
        padding:0.5rem;
        height: fit-content;
        min-height: 5rem;

        .bodyContent {
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 400;
          font-size: 0.875rem;
          line-height: 1.125rem;
          margin-top:0.5rem;
          margin-bottom:0.5rem;
        }

        .subtitle {
          width: 20.5rem;
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 500;
          font-size: 0.875rem;
          line-height: 1.25rem;
          align-self: stretch;
          margin-bottom: 1.25rem;
        }

        .title {
          width: 20.5rem;
          font-style: normal;
          font-weight: 600;
          font-size: 1rem;
          line-height: 1.25rem;
          letter-spacing: 0.031rem;
        }
      }
    }
  }
}