.layout-10-container {
  background-color: rgb(0, 0, 0);
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  word-break: break-word;

  .mdc-layout-grid__inner {
    #topImage-container {
      background-color: #d2cfcf;

      img {
        width: 344px;
        height: 194px;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 1;
        display: block;
        margin: auto;
      }

      padding-top: 17px;
      padding-bottom: 81px;
    }

    .info-container {
      background-color: rgb(0, 0, 0);
      position: relative;
      min-height: 100%;
      width: 100%;

      .frontInfo {
        margin-left: 8px;
        margin-right: 8px;
        position: absolute;
        top: -70px;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.9);
        padding: 8px;
        height: fit-content;
        min-height: 80px;
        color: #FFFFFF;

        .bodyContent {
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 18px;
          margin-top: 8px;
          margin-bottom: 8px;
        }

        .subtitle {
          width: 328px;
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          align-self: stretch;
          margin-bottom: 20px;
        }

        .title {
          width: 328px;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          letter-spacing: 0.5px;
        }
      }
    }
  }
}