.layout-7-container{
.Maincontainer {
  margin: 0.938rem 0.5rem;
}

.img{
  width: 344px;
  height: 194px;
}

p{
  padding: .5rem .75rem .5rem .75rem;
  width: 100%;
  background: black;
  color: white;
  opacity:0.9;
  overflow: hidden;
  word-break: break-all;
  white-space: normal;
  text-overflow: ellipsis;
  text-overflow: ellipsis;
}
}