body{
  background-color:black;
.main-12-Container {
  position: absolute;
  min-height: 36.688rem;
  height: 100%;
  left: 0rem;
  width: 100%;
  top: 0rem;

  .headerContainer {
    position: relative;

    .titleContainer {
      opacity: 0.85;
      position: absolute;
      bottom: 0;
      left: 1rem;
      right: 1rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 1.5rem 1rem;

      .title {
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 1.5rem;
        letter-spacing: 0.031rem;

        overflow: hidden;
        white-space: normal;
      }

      .subtitle {
        font-weight: 500;
        font-size: 1.355rem;
        line-height: 1.5rem;

        overflow: hidden;
        white-space: normal;
      }
    }

    .imageContainer {
      height: 17rem;
      overflow: hidden;

      img,
      video {
        width: 100%;
        display: block;
        margin: auto;
      }
    }
  }

  .dataContainer {
    padding: 2rem 3rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.355rem;
    line-height: 1.5rem;
    min-height: 100%;
    overflow-y: auto;
    max-height: 50rem;

    #my_container_div {
      word-break: break-word;
      // font-size: 1.25rem;
      overflow: auto;
    }
  }
}
}