.main-12-Container {
  position: absolute;
  min-height: 36.688rem;
  height: 100%;
  left:0rem;
  width: 100%;
  top:0rem;

  .headerContainer {
    position: relative;

    .titleContainer {
      opacity: 0.9;
      position: absolute;
      bottom: 0;
      left: 0.5rem;
      right: 0.5rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0.75rem 0.75rem;

      .title {
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.25rem;
        letter-spacing: 0.031rem;
      }

      .subtitle {
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.25rem;
      }
    }

    .imageContainer {
      height: 12.688rem;
      overflow: hidden;

      img {
        width: 22.5rem;
        height: 12.688rem;
        display: block;
        margin: auto;
      }
    }
  }

  .dataContainer {
    padding: 1rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.125rem;

    #my_container_div {
      word-break: break-word;
    }
  }
}