.layout-container {
  .row {
    .col-md-2{
        .img_selected_container{
            img{
                width: 98px;
                height: 189.52px;
                margin: 1rem 0;
            }
        }
    }
    .col-md-10 {
        overflow-y: scroll;
        overflow-x: hidden;
      .img_list_container {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;
          justify-self: flex-start;
          height: 200px;
          padding:1rem;
        img {
          width: 98px;
          height: 189.52px;
          margin: 1rem 0;
        }
      }
    }
  }
}
