.layout-9-container{

  .topImage-container {
  img {
    width: 100%;
    margin: 0px !important;
    height: 139px;
  }
}
.info-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 12px;
  gap: 16px;

  width: 344px;
  height: 104px;

  background: rgba(0, 0, 0, 0.9);

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  word-break: break-all;
  white-space: normal;
  margin: 0;
}
.bodyContent {
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  overflow: hidden;
  word-break: break-all;
  white-space: normal;
  text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.mainImage-container{
  width: 360px;
height: 447px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;
}
.secondImage{
  margin-top:20px;
  width: 100%;
height: 194px;
order: 0;
align-self: stretch;
}


}